@()

    @main("IMDB") {

        <style>

                .text-red {
                    color: red;
                }

                .text-orange {
                    color: orange;
                }

                .text-green {
                    color: green;
                }

                .text-bold {
                    font-weight: bold;
                }

                .canvas-area {
                    margin: auto;
                    padding: 0;
                    text-align: center;
                    min-height: 20vw;
                    min-width: 20vw;
                    max-width: 80vw;
                    max-height: 80vw;
                    width: 40vh;
                    height: 40vh;
                }

                .center {
                    text-align: center;
                }

                #main-canvas {
                    width: 100%;
                    height: 100%;
                }

                h1 {
                    font-size: 4vw;
                }


        </style>

        <div class="row center">
            <div class="col-sm-12">
                <h1>IMDB Reviews Trained Model</h1>
                <h3>Movie Reviews Sentiment Analysis</h3>
                <form>
                    Make your own review : <input id="review-input" type="text" label="review"/>
                </form>

            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <h3>That is a <span id="value-rec">-</span></h3>
                <h3>Confidences</h3>
                <ul id="probs"></ul>
                <canvas width="28" height="28" id="destCanv"></canvas>
            </div>
            <div class="col-md-6 col-sm-12">
                <h3>Project Information</h3>
                <p>
                    This project uses Deep Learning for Java (DL4J) to power a simple multi-layered recurrent network. This model has been trained on the IMDB Reviews data.
                    I forked a <a href="https://github.com/vogon101/MachineLearning">github project</a>
                    to use the play framework to make the model accessible via the internet.
                </p>

                <p>
                    All the code is available <a href="https://github.com/arnauddelaunay/devoxx-dl4J-demo">here</a>
                </p>

            </div>

        </div>
    }

    <script>
  var exampleText = "this movie is the greatest of all time !";

  function recognise(textInput, success) {
      $.ajax({
          url: "/IMDB/recognise",
          data: {
              body: "{\"review\":\"" + textInput + "\"}"
          },
          method: "POST"
      }).done(function (r) {
          success(JSON.parse(r))
      }).fail(function (e) {
          alert((JSON.parse(e.responseText).error));
          console.log("ERROR")
      })
  }

  /*recognise(exampleText, function (r) {
  console.log(r.recognised)
  });*/

  var textInput = document.getElementById("review-input");

  function InitThis() {
      textInput = document.getElementById("review-input");
  }

  function sendReview() {

      console.log("Sending Review");
      console.log(textInput.value);
      var smileys = [":-)", ":-("]

      recognise(textInput.value, function (s) {
          console.log(s);
          var maxValue = (Math.max.apply(null, s.results) * 100).toFixed(2);
          $("#value-rec").html(s.recognised + " (" + maxValue + "%)");
          $("#probs").html("");
          for (i = 0; i < s.results.length; i++) {
              var value = s.results[i];
              var colour = "text-black";
              if (value > 0.6) colour = "text-green";
              var bold = "";
              if (smileys[i] === s.recognised) bold = "text-bold";
              $("#probs").append("<li class='" + colour + " " + bold + "'>" + i + " - " + ((value) * 100).toFixed(2) + "%</li>")
          }
      })

  }

  $("#review-input").on("change paste keyup", sendReview);


  InitThis()
</script>
