@()

    @main("IMDB") {

        <style>

                h1 {
                    font-size: 4vw;
                }

                input {
                    width: 100%;
                    font-size: 40px;
                    border: none;
                    border-bottom: 2px solid grey;
                }


        </style>

        <div class="row center">
            <div class="col-sm-12">
                <h1>IMDB Reviews Trained Model</h1>
                <h3>Movie Reviews Sentiment Analysis</h3>
                <form>
                    Make your own review : <input id="review-input" type="text" label="review"/>
                </form>

            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <h3><span id="value-rec">-</span></h3>
                <h3>Confidences</h3>
                <ul id="probs"></ul>
                <canvas width="28" height="28" id="destCanv"></canvas>
            </div>

        </div>
    }

    <script>
  var exampleText = "this movie is the greatest of all time !";

  function recognise(textInput, success) {
      $.ajax({
          url: "/IMDB/recognise",
          data: {
              body: "{\"review\":\"" + textInput + "\"}"
          },
          method: "POST"
      }).done(function (r) {
          success(JSON.parse(r))
      }).fail(function (e) {
          alert((JSON.parse(e.responseText).error));
          console.log("ERROR")
      })
  }

  /*recognise(exampleText, function (r) {
  console.log(r.recognised)
  });*/

  var textInput = document.getElementById("review-input");

  function InitThis() {
      textInput = document.getElementById("review-input");
  }

  function sendReview() {

      console.log("Sending Review");
      console.log(textInput.value);
      var smileys = ["😃", "😞"];

      recognise(textInput.value, function (s) {
          console.log(s);
          var maxValue = (Math.max.apply(null, s.results) * 100).toFixed(2);
          $("#value-rec").html(s.recognised + " (" + maxValue + "%)");
          if (s.recognised === smileys[0]) {
              $("#review-input").css("background-color", "#90EE90");
          } else {
              $("#review-input").css("background-color", "#F08080");
          }
          $("#probs").html("");
          for (i = 0; i < s.results.length; i++) {
              var value = s.results[i];
              var colour = "text-black";
              if (value > 0.6) colour = "text-green";
              var bold = "";
              if (smileys[i] === s.recognised) bold = "text-bold";
              $("#probs").append("<li class='" + colour + " " + bold + "'>" + smileys[i] + " - " + ((value) * 100).toFixed(2) + "%</li>")
          }
      })

  }

  $("#review-input").on("change paste keyup", sendReview);


  InitThis()
</script>
