@()
@main("Devoox DL4J Demo App", isHome = true) {

    <style>
        li {
            font-size: 16px;
        }
    </style>

    <h1>DL4J Demo App</h1>
    <h2>IMDB Movies Reviews Sentiment Analysis</h2>
    <ul>
        <li><a href="/MNIST">MNIST recogniser</a></li>
        <li><a href="/IMDB">IMDB Reviews analyzer</a></li>
    </ul>

    <h4>Find this project on <a href="https://github.com/arnauddelaunay/devoxx-dl4J-demo">github</a></h4>
    <a class="github-button" href="https://github.com/arnauddelaunay" data-size="large" data-show-count="true" aria-label="Follow @@arnauddelaunay on GitHub">Follow @@arnauddelaunay</a>


}
